.search-form {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-form__block {
  margin: 0;
  background-color: #2F2F2F;
  border-radius: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-form__block:focus-within {
  outline: #4285F4 solid 2px;
}

.search-form__input {
  margin: 0 0 0 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  width: 100%;
}

.search-form__input:-webkit-autofill {
  background-color: transparent;
}

.search-form__input::placeholder {
  font-size: 13px;
  line-height: 17px;
}

.search-form__button {
  margin: 6px 6px 6px 0;
  background-image: url(../../images/find-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  width: 80px;
  height: 34px;
  border: none;
  background-color: #4285F4;
  border-radius: 48px;
  transition: 0.4s linear;
}

.search-form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .search-form__input::placeholder {
    font-size: 11px;
    line-height: 17px;
    margin-left: 19px;
  }
}